/* main.css
   메인 레이아웃 및 공통 스타일을 위한 커스텀 CSS 파일입니다.
*/

@import url(./fonts.css);
@import url(./var.css);
@import url(./util.min.css);


body, ul, li, div, p, a, h1, h2, h3, h4, h5 {
  box-sizing: inherit;
  box-sizing: border-box;
  color :var(--color-text);
  font-family: var(--main-font), sans-serif;
  font-weight: 400;
  word-break: keep-all;
}

.FLOSfont{font-family: 'SlowGothic' !important;}
.FLOSsubfont{font-family: 'Paperozi' !important;}

.maxWidth{
    max-width:1920px;
    margin:0 auto;
}

.sectionpy{
    padding: 120px 0 !important;
}


.w-0{
    width:0 !important;
}
.zup{
    z-index: 1000000 !important;
}

.section-label{
    font-size:20px;
    font-weight:600;
    margin-bottom:21px;
}

.section-title{
    font-size:48px;
    font-weight:700;
    margin-bottom:32px;
}

.section-desc{
    font-size:24px;
    font-weight:400;
}

.text-flos{
    color: var(--color-primary) !important
}

