body{
    overflow-x:hidden;
}

/* 스토어 */
.store-container{
   margin-top: 163px;
}

.collection-wrap{
   gap: 32px;
}

.section-title-wrap{
   margin-bottom: 80px;
}

.collection-card{
   width:500px;
    height:740px;

    border-radius:20px;

    overflow:hidden;

    position:relative;
}

.collection-card img{
   width:100%;
   height:100%;
   object-fit:cover;
}

.collection-text{
    position:absolute;
    left:30px;
    bottom:30px;
}

.collection-text * {
   color: white;
}

.collection-label{
   font-size:20px;
   font-weight: 600;
}

.collection-title{
   font-size:42px;
   font-weight: 700;
   margin-top: 8px;
}
.collection-desc{
   font-size:21px;
   font-weight: 400;
}

.collectionSwiper{
   padding:0 160px;
   margin-bottom: 162px;

   overflow:visible;

}

/* 플로우  */
.flow-wrap{
   width:100%;
   overflow:hidden;
}

.flow-track{
   display: flex;
   width:max-content;
   flex-wrap: nowrap;
   gap: 300px;
}

.flow-item{
   display: flex;
   align-items:center;
   gap: 333px;
}

.flow-item img{
  flex-shrink:0;
}

.flow-item img:nth-child(odd){
  width:65px;
}

.flow-item img:nth-child(even){
  width:210px;
}

/* 정기구독 */

.subscription-wrap{
   gap:120px;
}

.subscription-card-wrap{
   gap: 21px;
}

.subscription-card{
   width: 425px;
   height: 185px;
   background: #ffffff;
   border: 1px solid #111111;
   border-radius: 20px;
   padding: 40px 30px;
}

.subscription-title{
   font-size:24px;
   font-weight: 700;
   padding-bottom: 22px;
   border-bottom: 1px solid #111111;
}

.subscription-desc{
   font-size:20px;
   font-weight: 400;
   margin-top: 22px;
}

.subscription-02 img{
   width: 600px;
}

#subscription{
   padding-top: 150px;
   padding-bottom: 200px;
}

#subscription:before{
   content: "";
   position: absolute;
   bottom: 0;
   left: 0;
   width: 100%;
   height: 40%;
   background: var(--color-primary);
   

}